.header1
		{
			margin-top:280px;
			font-size:60px;
			font-family: 'Lobster', cursive;
		}
		.outer1
		{
			width:100%;
			height:500px;
			background-color:#bfbfbf;
			margin-left:130px;
			padding-top:20px;
		}
		.inner1
		{
			width:90%;
			height:460px;
			background-image:url("http://www.cole.jp/sites/default/files/cole-people-first-woman-left.jpg");
			background-repeat:no-repeat;
			background-size:cover;
			margin-left:24px;
			opacity:0.7;
			padding-top:20px;
		}
		.inner_most1
		{
			height:420px;
			width:90%;
			border:5px solid white;
			margin-left:20px;
			padding-top:20px;
		}
		.outer2
		{
			width:100%;
			height:500px;
			background-color:#b3b3b3;
			padding-top:20px;
		}
		.inner2
		{
			width:90%;
			height:460px;
			background-image:url("http://www.jamesaconnors.com/sites/default/files/imagecache/page_image/Image16iStock_9039974med%20professional%20woman.jpg");
			background-repeat:no-repeat;
			background-size:cover;
			margin-left:24px;
			opacity:0.7;
			padding-top:20px;
		}
		.inner_most2
		{
			height:420px;
			width:90%;
			border:5px solid white;
			margin-left:20px;
			padding-top:20px;
		}
		.header2 , .header3
		{
			font-family: 'Aref Ruqaa', serif;
			font-weight:bold;
			text-align:center;
			
			font-size:50px;
		}
		.description
		{
			font-family: 'Maven Pro', sans-serif;
			text-align:center;
		}